Additional/
credentials.json
**/credentials.json
test.json
**/test.json
.DS_Store
*.pyc
__pycache__/
.venv/
.coverage
coverage.xml
coverage.json
htmlcov/
local-docker/data/options.json
local-docker/data/credentials.json
